<h1>ceil.liquid</h1>
<pre>function ceil(value) {}</pre>

<pre>{{ 1.2 | ceil }}</pre>
<!-- Expected: 2 -->

<pre>{{ 2.0 | ceil }}</pre>
<!-- Expected: 2 -->

<pre>{{ 183.357 | ceil }}</pre>
<!-- Expected: 184 -->

<pre>{{ "3.5" | ceil }}</pre>
<!-- Expected: 4 -->
